core
*.o
*.a
*.lc
*.lh
*.un~
*.log
tcpcli01
tcpcli04
tcpcli05
tcpcli06
tcpcli07
tcpcli08
tcpcli09
tcpcli10
tcpserv01
tcpserv02
tcpserv03
tcpserv04
tcpserv08
tcpserv09
tcpservpoll01
tcpservselect01
tcpserv02_linux_p111
tsigpipe
Makefile
Make.defines
config.h
config.status
cscope.files
tags
